.score-box {
	// .score-box__body

	&__body {
		position: relative;
		z-index: 5;

		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 10px;

		min-width: 117px;
		height: 58px;

		border-radius: 7px 0 0 7px;
		background: #323232;

		padding-inline: 10px;
		transition: all 0.3s ease 0s;

		.slot__score-box & {
			column-gap: 40px;
			justify-content: space-between;
		}
		.final & {
			width: 100%;
		}

		&._hold {
			opacity: 0.5;
			pointer-events: none;
		}
	}

	&__title {
		color: #fff;
		font-size: 16px;
		font-weight: 300;
		line-height: normal;
	}

	// .score-box__score
	&__score {
		min-width: 40px;
		text-align: center;
		color: #fff;
	}

	&__icon {
	}
	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 9px;
	}

	&__score,
	&__icon {
		position: relative;
		z-index: 2;
	}
}

.icon-game {
	width: 29px;
	height: 29px;

	background-image: url("@img/icons/coin.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
