.shop {
	position: absolute;
	z-index: 5;
	top: 0;
	left: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	min-height: 100%;

	transform: scale(1.01);

	opacity: 0;
	visibility: hidden;

	transition: all 0.7s ease 0.3s;

	._shop & {
		opacity: 1;
		visibility: visible;
		transform: scale(1);
	}

	// .shop__body

	&__body {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 15px;

		width: 100%;
		min-height: 100vh;
		height: 100vh;

		padding: 24px 14px;

		overflow-y: auto;
	}

	&__header {
	}

	&__items {
		display: flex;
		flex-direction: column;
		row-gap: 30px;
	}

	// .shop__item

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		row-gap: 25px;

		transition: all 0.7s ease 0s;
	}

	&__image-box {
		position: relative;

		display: flex;

		justify-content: center;

		width: 251px;
		height: 212px;

		border-radius: 10px;
		border: 1px solid #fff;
		background: rgba(15, 64, 89, 0.79);
	}

	&__image {
		padding-top: 25px;
	}

	&__price-box {
		position: absolute;
		bottom: 10px;
		left: 50%;
		transform: translateX(-50%);

		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 10px;

		transition: all 0.7s ease 0s;

		._bought & {
			opacity: 0;
			visibility: hidden;
		}
	}

	&__icon {
		width: 40px;
		height: 23px;

		background-image: url("@img/icons/coin.png");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}

	&__price {
		color: #fff;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}

	&__button {
		position: relative;

		display: flex;
		justify-content: center;
		align-items: center;

		width: 100%;
		height: 57px;

		border-radius: 10px;
		background: linear-gradient(142deg, #3336e3 0%, #3641e2 40.12%, #54cdd7 100%);

		color: #fff;
		._bought & {
			background: linear-gradient(142deg, #7778df 0%, #5760d6 40.12%, #54d798 100%);
		}
		._selected & {
			background: linear-gradient(142deg, #7778df 0%, #57c1d6 40.12%, #70f24c 100%);
		}
	}
}
